/* Global  */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}
 
.site-container{
  padding: 70px 40px ;
  max-width: 1280px;
  margin: 0px auto; 
}

.btn{
    background-color: #d63384;
    border-radius: 4px;
    color: white;
    border: 0px;
     padding: 10px 25px;
     font-size: 16px;
}

.tag-line{
  color: #d63384;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  font-weight: bold;
  }

a{
  text-decoration: none;
 }

 img{
  width:100%;
  height: auto;
 }
 
 .desc p {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #9c9fa6;
}

ul{
  list-style: none;
}


  /* Header */
  .header .site-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
  }

  .header .nav-item{
    display: flex;
    align-items: center;
    grid-gap: 40px;
    justify-content: end;
    padding: 100;
    list-style: none;
    
  }
 
  .header .nav-item li a{
      color: black;
      font-size: 16px;
      font-weight: 700px;
      line-height: 27px;
      font-weight: bold;
  }
   
  .header .nav-item li a:hover{
    color:#d63384 ;
  }

  .header .btn{
    margin-left: 40px ;
  }

  /* Hero */

  .hero .site-container{
    display: flex;
    grid-gap: 125px;
}

.hero .left{
 flex: 1;
}

.hero .right{
flex: 0 0 33.6% ;
}

.hero .section-title{
  font-size: 70px;
  font-weight: 700;
  line-height: 77px;
  margin-top: 20px;
  width: 100%;
}

.hero .site-container p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #9c9fa6;
  margin-top: 30px;
}

.hero .section-title span{
  color: #d63384;
}

 .hero .btn{
 margin-top: 40px;
 /* padding: top right bottom left ; */
 /* padding: y x; */
 padding: 15px 30px;
}

.hero img{
  border-radius: 40px;
}

/* About*/


.section-title{
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 20px;
  width: 750px;

}

.section-head {
margin-bottom: 50px;
}

.about .wraper{
  display: flex ;
  justify-content: space-between;
  grid-gap: 85px;
}

.about .left{
flex: 0 0 45.5%;
}

.about .right{
 flex: 1;
}

.about .left img{
  border-radius: 30px;
}

.about .right ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.about .right li{
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-weight: bold;
  color: #15161b;
}

.about .btn{
  margin-top: 20px;
}

.about .right li svg{
  margin: 8px;
  POSITION: relative;
  top: 12px;
}

/* Services */

.services .svc{
  display: flex;
}

.services .left{
  flex:  0 0 30%;
}

.services .right{
  flex:1  ;
}

.services .btn{
  margin-left: 271px;
  margin-top: 40px;
}

/* Services Item */

/* .services-item .services-box-img{
  width: 363px;
  height: 180px;
  border-radius: 30px;
} */

.services-item .services-box-img img{
  border-radius: 30px;
}
.services-item .row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 70px;
}

.services-item .services-content-title{
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  line-height: 38px;
  color:#15161b;
  font-weight: 700;
  font-weight: bold;

}

.services-item .our-services p{
  margin-top: 52px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #9c9fa6;

}

.services-item .services-content-title h2{
  margin-right: 63px;
}

.services-item .services-content-title svg{
  width: 63px;
  height: 47px;
  margin-top: 20px;
  margin-left: -20px;
}





 